.App {
  font-family: sans-serif;
  text-align: center;
}

.gutter {
  flex-shrink: 0;
}

.gutter-horizontal {
  cursor: ew-resize;
}

.gutter-vertical {
  cursor: ns-resize;
}
.comp {
  height: 100vh;
  display: inline-block;
}
.wrap {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
